.cars{background-color: rgb(0, 0, 0);color: aquamarine;}
.texto{color: aliceblue;}
.subt{background-color: rgb(0, 255, 0);color: rgb(47, 0, 255);}
.rein{color: rgb(103, 0, 151);}
.king{color: blue;}
.Mel{color: rgb(0, 0, 0);}